@font-face {
	font-family: 'coolvetica';
	font-weight: 400;
	font-style: normal;
	font-display: auto;
	src: url('../fonts/coolvetica.otf');
}

@font-face {
	font-family: 'Roboto';
	font-display: auto;
	font-weight: 100;
	font-style: normal;
	src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
	font-family: 'Roboto';
	font-display: auto;
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-display: auto;
	font-style: normal;
	src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Roboto';
	font-display: auto;
	font-weight: 500;
	font-style: normal;
	src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
	font-family: 'Roboto';
	font-display: auto;
	font-weight: 700;
	font-style: normal;
	src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'Roboto';
	font-display: auto;
	font-weight: 900;
	font-style: normal;
	src: url('../fonts/Roboto-Black.ttf');
}
